iv.relative {
    position: relative;
    left: 200px;
    <!--border: 3px solid #73AD21;-->
}
.container {
    position: relative;
    text-align: left;
    color: white;
    background-color: #D6EAF8; <!--  container top-->
}
<!--/* Bottom left text */-->
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
<!--/* Top left text */-->
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.main {
  padding: 16px;
  margin-bottom: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}


ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111;
}

ol {
  list-style: none;
}

ol li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size:150%;
}


.mobile-container {
  max-width: 700px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 50%;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  background-color: #2a4e87;
  color: black;
}

.topnav a.icon {
  background: red;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.topnav a:hover {
  background-color: #2a4e87;
  color: white;
}

.active {
  background-color: #2a4e87;
  color: white;
}

.{
    margin: 0;
    padding: 0;
}

.right{
    float: right;
}

.left{
    float: left;
}

.navbar {
    width: 100%;
    height: 48px;
    background-color:  #2a4e87;
}

.navbar ul, li {
    display: inline-block;
    height: 100%;
    background-color: #2a4e87;
}

.navbar ul li a {
    line-height: 48px;
    display: inline-block;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #2a4e87;
}

.navbar ul li a:hover {
    color: white;
    cursor: pointer;
    background-color: #101659;
}


.block container {
    background-color: red;
}

/* The container */
.container {
    position: relative;
    text-align: left;
    color: white;
    background-color: #AED6F1;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #101659; <!-- Color when pointer over button-->
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: red;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

/*.container {
  padding: 16px;
}
*/
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 1% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #101659; <!-- Color when pointer over button-->
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
